/* variables */
body {
  margin: 0;
  background-color: #1c3d26;
}

body .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .conteiner .imagen img {
  width: 655px;
  height: 100%;
}

body .conteiner .titulo {
  color: white;
  width: 50%;
}

body .conteiner .titulo h1 {
  color: white;
  font-size: 106px;
  width: 600px;
  text-align: center;
  border-top: 10px solid #ff3300;
  border-bottom: 10px solid #ff3300;
  margin-left: 1cm;
}

body .conteiner .titulo p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 20px;
  margin-bottom: 60px;
}

body .conteiner .titulo ul {
  font-size: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-family: sans-serif;
  width: 500px;
  margin-left: 2cm;
}

body .conteiner .titulo ul a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 6px;
  border: 3px outset #ff3300;
}

body .conteiner .titulo ul a:hover {
  background-color: #ff3300;
}

body .conteinerB {
  background-image: url(./imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  margin-top: 3cm;
  margin-left: 7cm;
  padding: 1cm;
  line-height: 1cm;
  font-size: 20px;
  border-top: 6px solid #ff3300;
  border-bottom: 6px solid #ff3300;
  width: 700px;
}

body .conteinerB h2 {
  text-align: center;
  font-size: 30px;
  background-color: #1c3d26;
  border-top: 4px solid #ff3300;
  border-bottom: 4px solid #ff3300;
}

body .contenedorC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contenedorC .cervezas {
  background-color: black;
  width: 50%;
  color: white;
  margin: 1cm;
  font-size: 16px;
  line-height: 40px;
  padding: 20px;
}

body .contenedorC .cervezas h2 {
  text-align: center;
  font-size: 30px;
  background-color: #ff3300;
  color: white;
  margin: -20px;
  margin-bottom: -10px;
}

body .contenedorC .cervezas dt {
  font-size: 25px;
  color: #ff3300;
  text-align: center;
  border-top: 4px dashed #1c3d26;
}

body .contenedorC .cervezas dd {
  font-family: sans-serif;
  text-align: center;
}

body .contenedorC .comidas {
  background-color: black;
  width: 50%;
  height: 870px;
  color: white;
  margin: 1cm;
  font-size: 16px;
  line-height: 40px;
  padding: 20px;
}

body .contenedorC .comidas h2 {
  text-align: center;
  font-size: 30px;
  background-color: #ff3300;
  color: white;
  margin: -20px;
  margin-bottom: -10px;
}

body .contenedorC .comidas dt {
  font-size: 25px;
  color: #ff3300;
  text-align: center;
  border-top: 4px dashed #1c3d26;
}

body .contenedorC .comidas dd {
  font-family: sans-serif;
  text-align: center;
}

body .tituloC {
  text-align: center;
  font-size: 40px;
  color: white;
  border-top: 5px solid #ff3300;
  border-bottom: 5px solid #ff3300;
  margin: 20px;
  margin-bottom: -10px;
}
/*# sourceMappingURL=style.css.map */